@import "tailwindcss";

@font-face {
  font-family: HelveticaRegular;
  src: url("./assets/Helvetica.ttf");
}

@theme{
  --font-helveticaregular: helveticaregular, "serif"
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin:0px;
  padding: 0px !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 2rem;
}